/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass";
@import "base";
@font-face {
    font-family: 'League Gothic';
    src: url('../assets/fonts/webfontkit/leaguegothic-regular-webfont.eot');
    src: url('../assets/fonts/webfontkit/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/webfontkit/leaguegothic-regular-webfont.woff') format('woff'), url('../assets/fonts/webfontkit/leaguegothic-regular-webfont.ttf') format('truetype'), url('../assets/fonts/webfontkit/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: $font-stack;
    color: $primary-color;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $display-font;
}
header {
    z-index: 1;
    position: fixed;
    top: 0px;
    width: 100%;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.15);
    padding: 5px 15px 15px 15px;
    border-top: 3px solid $highlight;
    border-bottom: 3px solid $highlight;
    text-align: center;
    h1 {
        display: inline-block;
        color: #fff;
        font-size: 50px;
        span {
            transition: all .4s;
        }
    }
}
main {
    z-index: -1;
}
@media(max-width:900px){

header > h1::after {
    content: "HalfScreen";
    color: white;
    float: right;
}
}
@media(max-width:500px){

header > h1::after {
    content: "SmallScreen";
    color: white;
    float: right;
}
header > h1 {
    font-size: 40px;
}
}
#intro {
    margin-bottom:10px;
    display:block;
}
.item {
    width:100%;
    height:300px;
    float:left;
    clear:left;
    background-color:#eee;
}
.item > * {
    min-height:10px;
    max-width:1000px;
    margin:0 auto;
    text-align:center;
    position:relative;
    top:50%;
    -webkit-transform:translateY(-50%);
    transform:translateY(-50%);
}
.item:nth-child(odd) {
    background-color:#f8f8f8;
}