/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

 @import "compass/reset";
 @import "compass";
 @import "base";
 body {
  font-family: $font-stack;
  color: $primary-color;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $display-font;
}

header {
  z-index: 1;
  position: fixed;
  top: 0px;
  width: 100%;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.15);
  padding: 5px 15px 15px 15px;
  border-top: 3px solid $highlight;
  border-bottom: 3px solid $highlight;
  text-align: center;
  transition: all $tTime;
  @include bp-small {
    border-color: #c00;
  }
}
.title {
  background: none;
  padding: 0;
  margin: 0;
  border: none;
  &:hover {
    cursor: pointer;
  }
  &:focus {
    outline: none;
  }
}
.spaced {
  letter-spacing: 100px;
  @include bp-small {
    letter-spacing: 50px;
  }
}
nav {
  position: absolute;
  top: -100%;
  width: 100%;
  height: 100%;
  transition: all $tTime;
  left: 0;
  right: 0;
  z-index: -1;
  ul {
    height: 100%;
    li{
      margin: 0 5px;
    }
  }
}
.title:focus ~ nav {
  top: 0;
}
.navItem {
  display: inline;
  height: 50px;
  position:relative;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  * {
    @include centred;
    height:50px;
    display: inline-block;
  }
}
.topList{
  width:25%;
  margin: 0 calc(100% / 6);
}
.leftLinks{
  @extend .topList;
  float:left;
}


main {
  z-index: -1;
}

h1 {
  display: inline-block;
  color: #fff;
  font-size: 50px;
  span {
    letter-spacing: 0;
    transition: all $tTime;
  }
}
h2 {
  font-size: 40px;
  color: $primary-color;
}


#intro {
  margin-bottom: 10px;
  display: block;
  font-family: $font-stack;
}
.item {
  width: 100%;
  height: 300px;
  position:relative;
  background-color: #eee;
  box-sizing: border-box;
  overflow: hidden;           /*This will probably need to be reset but it's for the info buttons*/
  * {
    min-height: 10px;
    max-width: 1000px;
    margin: 5px auto;
    display: block;
    text-align: center;
    @include centred;
    h2 {
      top: 20px;
    }
    @include bp-small {
      padding: 0 15px;
      font-size: 14px;
    }
  }
}
body,
.item:nth-child(odd) {
  background-color: #f8f8f8;
}

.item .info{
  height: 50px;
  width:300px;
  z-index:10;

  background:#323a45;
  color: #fff;

  right: -270px;
  position:absolute;

  border-radius: 25px 0 0 25px;
  margin:0;
  opacity: .9;
  transition:all .1s;

  &:hover{
    opacity:1;
  }
}

.item .info.open{
  height:300px;
  right:0;
  border-radius:0;
  opacity: 1;
  @include inset-shadow(100px, .4);
}

.info *{display:none;}
.info .show{
  display:inline-block;
}

.show{
  -webkit-animation-duration: .1s; 
          animation-duration: .1s; 
  -webkit-animation-name: fadeInUp; 
          animation-name: fadeInUp; 
}

@-webkit-keyframes fadeInUp { 
    0% { 
        opacity: 0; 
        -webkit-transform: translateY(20px); 
    } 
    100% { 
        opacity: 1; 
        -webkit-transform: translateY(0); 
    } 
} 

@keyframes fadeInUp { 
    0% { 
        opacity: 0; 
        transform: translateY(20px); 
    } 
    100% { 
        opacity: 1; 
        transform: translateY(0); 
    } 
} 


/*Three.js Cube ----------------------------------------------*/
#three {
  @include inset-shadow(100px, .4);
  canvas {
    height: 100%;
    width: 100%;
    max-width: 100%;
  }
}
