:root {
  --alabaster: #d8e2dc;
  --champagne: #ffe5d9;
  --pink: #ffcad4;
  --lightPink: #f4acb7;
  --mountbatten: #9d8189;
}

body {
  background: var(--pink);
}

* {
  font-family: "Roboto", sans-serif;
}

table {
  border-collapse: collapse;
  color: var(--mountbatten);
}
colgroup,
tbody {
  border: solid medium;
}
td {
  border: solid thin;
  height: 5em;
  width: 5em;
  text-align: center;
  padding: 0;
  background: var(--champagne);
}

header {
  background: var(--mountbatten);
  color: var(--champagne);
  text-align: center;
}

.grid {
  display: flex;
  justify-content: center;
  padding: 2em;
}
